@import '~@angular/material/theming';

.mat-checkbox-layout {
  white-space: normal !important;
}
.mat-checkbox-inner-container {
  margin-top: 3px !important;
}

@include mat-core();


$md-sump: (
    50 : #e1e5e7,
    100 : #b5bdc4,
    200 : #84919d,
    300 : #536576,
    400 : #2e4458,
    500 : #09233b,
    600 : #081f35,
    700 : #061a2d,
    800 : #051526,
    900 : #020c19,
    A100 : #588bff,
    A200 : #2568ff,
    A400 : #004af1,
    A700 : #0042d7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    ),
    primary: #5ac4be,
    accent: #60bb46
);

$sump-app-primary: mat-palette($md-sump, primary);
$sump-app-accent:  mat-palette($md-sump, accent);
$sump-app-warn:    mat-palette($mat-red);

$sump-app-theme: mat-light-theme($sump-app-primary, $sump-app-accent, $sump-app-warn);

@include angular-material-theme($sump-app-theme);

.theme-background {
    background-color: map-get($mat-light-theme-background, background);
  }

  .accent-color-border {
    border-color: mat-color($sump-app-accent);
  }

  .accent-color-icon {
    .mat-icon {
      color: mat-color($sump-app-primary);
    }
  }
  .accent-color {
    background-color: mat-color($sump-app-accent);
  }

